<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://127.0.0.1:3306/satode</property>
		<property name="connection.username">root</property>
		<property name="connection.password">fernando</property>
		<property name="hbm2ddl.auto">update</property>
	 	<property name="max_allowed_packe">500000000</property>
		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>

		<!---
			Enable c3p0 connection pooling, because hibernate pooling is not
			prod-ready. Apparently connection.provider_class is needed in
			hibernate 3+
		-->
		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="c3p0.max_size">100</property>
		<property name="c3p0.min_size">1</property> 
		<property name="c3p0.idle_test_period">30</property>
		<property name="c3p0.max_statements" >100</property>
		<property name="c3p0.acquire_increment" >2</property>
 


		<!-- Echo all executed SQL to stdout for debugging -->
		<property name="show_sql">true</property>

		<!-- All the entity classes for hibernate to check for annotations here-->
		<mapping class="fing.satode.dominio.Usuario"  />
		<mapping class="fing.satode.dominio.Perfil"  />
		<mapping class="fing.satode.dominio.Permiso"  />
		<mapping class="fing.satode.dominio.Departamento"  />
		<mapping class="fing.satode.dominio.Ciudad"  />
		<mapping class="fing.satode.dominio.TipoEvento"  />
		<mapping class="fing.satode.dominio.Evento"  />
		<mapping class="fing.satode.dominio.PuntoReferencia"  />
		<mapping class="fing.satode.dominio.Hospital"  />
		<mapping class="fing.satode.dominio.Refugio"  />
		<mapping class="fing.satode.dominio.Bomberos"  />
		<mapping class="fing.satode.dominio.Policia"  />
		<mapping class="fing.satode.dominio.Cuartel"  />
		<mapping class="fing.satode.dominio.Caminera"  />
		<mapping class="fing.satode.dominio.PROtros"  />
		<mapping class="fing.satode.dominio.Desastre"  />
		<mapping class="fing.satode.dominio.Deposito"  />
		<mapping class="fing.satode.dominio.TipoSuministro"  />
		<mapping class="fing.satode.dominio.Suministro"  />
		<mapping class="fing.satode.dominio.Donacion"  />			
		<mapping class="fing.satode.dominio.CuentaCorrienteSuministro"  />
		
		</session-factory>
</hibernate-configuration>