<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  
  <servlet>
    <servlet-name>Necesidad</servlet-name>
    <servlet-class>fing.satode.ui.necesidades.server.NecesidadImpl</servlet-class>
  </servlet>
  
   <servlet-mapping>
    <servlet-name>Necesidad</servlet-name>
    <url-pattern>/fing.satode.ui.necesidades.NecesidadList/Necesidad</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Necesidad</servlet-name>
    <url-pattern>/fing.satode.ui.necesidades.GestionNecesidad/Necesidad</url-pattern>
  </servlet-mapping>
  
     
  <servlet>
    <servlet-name>puntoReferencia</servlet-name>
    <servlet-class>fing.satode.ui.puntoReferencias.server.PuntoReferenciaImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>puntoReferencia</servlet-name>
    <url-pattern>/fing.satode.ui.deposito.SolicitudEnvioList/puntoReferencia</url-pattern>
  </servlet-mapping>
  
  
   <servlet-mapping>
    <servlet-name>puntoReferencia</servlet-name>
    <url-pattern>/fing.satode.ui.necesidades.NecesidadList/puntoReferencia</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>puntoReferencia</servlet-name>
    <url-pattern>/fing.satode.ui.necesidades.GestionNecesidad/puntoReferencia</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>puntoReferencia</servlet-name>
    <url-pattern>/fing.satode.ui.puntoReferencias.PuntoReferenciaList/puntoReferencia</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>puntoReferencia</servlet-name>
    <url-pattern>/fing.satode.ui.deposito.SuministroList/puntoReferencia</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>deposito</servlet-name>
    <servlet-class>fing.satode.ui.deposito.server.DepositoImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>deposito</servlet-name>
    <url-pattern>/fing.satode.ui.deposito.SolicitudEnvioList/deposito</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>deposito</servlet-name>
    <url-pattern>/fing.satode.ui.deposito.DepositoList/deposito</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>deposito</servlet-name>
    <url-pattern>/fing.satode.ui.deposito.TipoSuministroList/deposito</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>deposito</servlet-name>
    <url-pattern>/fing.satode.ui.deposito.StockSuministros/deposito</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>deposito</servlet-name>
    <url-pattern>/fing.satode.ui.deposito.SuministroList/deposito</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>deposito</servlet-name>
    <url-pattern>/fing.satode.ui.necesidades.NecesidadList/deposito</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>deposito</servlet-name>
    <url-pattern>/fing.satode.ui.necesidades.GestionNecesidad/deposito</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>desastres</servlet-name>
    <servlet-class>fing.satode.ui.desastres.server.DesastreImpl</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>desastres</servlet-name>
    <url-pattern>/fing.satode.ui.desastres.DesastreList/desastres</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>desastres</servlet-name>
    <url-pattern>/fing.satode.ui.desastres.TipoCostoList/desastres</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>desastres</servlet-name>
    <url-pattern>/fing.satode.ui.desastres.CostoList/desastres</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>desastres</servlet-name>
    <url-pattern>/fing.satode.ui.necesidades.NecesidadList/desastres</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>desastres</servlet-name>
    <url-pattern>/fing.satode.ui.necesidades.GestionNecesidad/desastres</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>usuarios</servlet-name>
    <servlet-class>fing.satode.ui.usuarios.server.UsuarioImpl</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>usuarios</servlet-name>
    <url-pattern>/fing.satode.ui.usuarios.Login/usuario</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>usuarios</servlet-name>
    <url-pattern>/fing.satode.ui.desastres.DesastreList/usuario</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>usuarios</servlet-name>
    <url-pattern>/fing.satode.ui.propiedadesSiniestradas.PropiedeadesSiniestradasList/usuario</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>usuarios</servlet-name>
    <url-pattern>/fing.satode.ui.necesidades.NecesidadList/usuario</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>usuarios</servlet-name>
    <url-pattern>/fing.satode.ui.necesidades.GestionNecesidad/usuario</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>usuarios</servlet-name>
    <url-pattern>/fing.satode.ui.usuarios.UsuarioList/usuario</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>usuarios</servlet-name>
    <url-pattern>/fing.satode.ui.usuarios.PerfilList/usuario</url-pattern>
  </servlet-mapping>
  
 <servlet>
    <servlet-name>evento</servlet-name>
    <servlet-class>fing.satode.ui.registros.server.EventoImpl</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>evento</servlet-name>
    <url-pattern>/fing.satode.ui.registros.EventoList/evento</url-pattern>
  </servlet-mapping>
 
 <servlet-mapping>
    <servlet-name>evento</servlet-name>
    <url-pattern>/fing.satode.ui.desastres.DesastreList/evento</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>propiedadesSiniestradas</servlet-name>
    <servlet-class>fing.satode.ui.propiedadesSiniestradas.server.PropiedadesSiniestradasImpl</servlet-class>
  </servlet>
  
   <servlet-mapping>
    <servlet-name>propiedadesSiniestradas</servlet-name>
    <url-pattern>/fing.satode.ui.propiedadesSiniestradas.PropiedeadesSiniestradasList/propiedadesSiniestradas</url-pattern>
    			 
  </servlet-mapping>
 
 
 <servlet>
    <servlet-name>basicos</servlet-name>
    <servlet-class>fing.satode.ui.general.server.BasicosImpl</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>basicos</servlet-name>
    <url-pattern>/fing.satode.ui.propiedadesSiniestradas.PropiedeadesSiniestradasList/basicos</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>basicos</servlet-name>
    <url-pattern>/fing.satode.ui.registros.EventoList/basicos</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>basicos</servlet-name>
    <url-pattern>/fing.satode.ui.deposito.DepositoList/basicos</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>basicos</servlet-name>
    <url-pattern>/fing.satode.ui.puntoReferencias.PuntoReferenciaList/basicos</url-pattern>
  </servlet-mapping>
  
  
 
 
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>/views/usuarios/Login.html</welcome-file>
  </welcome-file-list>

  
  
 <!-- Spring -->
	<listener> <!-- Required for the struts2 spring plugin to work -->
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<filter> <!-- Get spring to keep the session open for the whole request, so hibernate's lazy loads work -->
	  <filter-name>openSessionInViewFilter</filter-name>
	  <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter-mapping>
	  <filter-name>openSessionInViewFilter</filter-name>
	  <url-pattern>/*</url-pattern> 
	</filter-mapping>
	
	<servlet>
		<servlet-name>init</servlet-name>
		<servlet-class>fing.satode.ui.base.ServletInit</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	
</web-app>
