body {
  color:white;
  font-family:trebuchet ms;
  width:100%;
  margin:auto;

}
.bodyhead {
  margin-top: 0px;
  height:37px;
  line-height:40px;
  background: url(alpha-b.png);
  padding-left:10px;
}
.body {
  background:white;
  color:black;
  padding:1px;
  width:100%;
  margin:auto;
  --background: url(fondo.jpg);
  background-repeat: no-repeat;
  background-position:center;
  font-size: 12pt;
}

.body a {
	color:black;
}
.body a:hover {
	background:yellow;
}
form {
	display:inline;
}

midificar
{
	cursor: pointer;
	width: 15px;
	height: 18px;
}
eliminar{}
ver{}
confirmar{}
exportar{}

.login {
  background: url(fondo.jpg);
}

.acercade {
  background: url(acercade.jpg);
}